{% extends 'base.html' %}


{% block body %}
  

{% for i in jobs %}
    
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
</style>
</head>
<body>

<h2>{{i.job_title}}</h2>

<div class="card">
  <img src="/{{i.job_Pic}}" height="150px" width="100px" alt="Avatar" >
  <div class="container">
    <h4><b>{{i.vancancy}}</b></h4> 
    <h4><b>{{i.skills}}</b></h4> 
    <h4><b>{{i.opinion}}</b></h4> 
    <p>{{i.description}}</p> 
  </div>
</div>

</body>
</html> 


{% endfor %}

{% endblock body %}
    